
.vs/sd03_2020/v16/.suo

.vs/



front-end/package-lock.json

back-end/app/controllers/event.attendance.controller.js

back-end/node_modules/

back-end/app/controllers/designationAss.controller.js

back-end/app/model/designationAssignments.model.js

back-end/app/model/event.attendance.model.js

back-end/app/routes/designationsAss.route.js

front-end/src/admin/components/Activity-log/ActivityTable (2).js

front-end/src/admin/components/Dashboard/OldSideBar.jsx

front-end/src/admin/components/Dashboard/DashboardApp.jsx

front-end/src/admin/components/Designation-management/DesignationApp.js

front-end/src/admin/components/EventAttendance-management/EventAttendance.jsx
